# {{ ansible_managed }}

{% for username, options in __users__.iteritems() %}
{% if username == item.key %}

    {%- if options.has_key('options.prezto_zpreztorc_content') %}

{{ options.prezto_zpreztorc_content }}

    {%- else %}

{{ prezto_zpreztorc_default_content }}

    {% endif %}

{% endif %}
{% endfor %}
